<header class="w-100 flex justify-between items-center p-3 pl-1 pr-1" id="header-login">
	<span><i class="fa fa-bars" aria-hidden="true"></i></span>
	<p class="f4 login-title">CATEGORIES</p>
	<%= button_to 'Sign out', destroy_user_session_path, method: :delete,
	 class:'sign-out fw6' %>
</header>	