<section class="w-90 rounded-md shadow-md bg-white px-3 py-3 mx-2  flex items-center">
	<p class="f-5" style="flex:2"><%=payment.name%></p>
	<p class="f-5 fw-6 font-bold" style="flex:0"><%="$#{payment.amount}"%></p>
</section>