<header class="w-100 flex justify-between items-center px-2 pt-1 pb-1" id="header-login">
	<%=link_to root_path do %>
	     &#8249;
	<%end%>
	<p class="f-4 login-title">LOGIN</p>
	<p><%= f.submit "Log in", class:' login-submit fw6' %></p>
</header>	